<div class="company-signup pt-100">
    <div class="signup-header">
        <div class="container pt-40 pb-40">
            <h4 class="main-heading pb-10 font-size-36 font-regular">Shook Hand With US</h4>
            <h4 class="sub-heading font-size-14 font-semiBold">{{'Grow Up Your Business WIth Us' | uppercase}}
            </h4>
        </div>
    </div>
    <div class="signup-form">
        <div class="container pt-40">
            <h2 class="heading-inc pt-20 font-size-24 pb-40 font-semiBold color-red">Sign Up</h2>
            <div class="contact-form">
                <input class="form-control form-input promo-input" type="text" name="firstName" placeholder="Name">
                <input class="form-control form-input promo-input" type="text" name="email" placeholder="Email">
                <input class="form-control form-input promo-input" type="text" name="phone" placeholder="Password">
                <input class="form-control form-input promo-input" type="text" name="phone"
                    placeholder="Re-type your Password">
                <input class="form-control form-input promo-input" type="text" name="phone" placeholder="Address">
                <input class="form-control form-input promo-input" type="text" name="phone" placeholder="state">
                <input class="form-control form-input promo-input" type="text" name="phone" placeholder="Country">
                <input class="form-control form-input promo-input" type="text" name="phone" placeholder="Mobile no">
                <input class="form-control form-input promo-input" type="text" name="phone" placeholder="Office no">
                <input class="form-control form-input promo-input" type="text" name="phone"
                    placeholder="Company Name(if applicable)">
                <textarea class="form-control form-input mb-25" name="review" rows="4" cols="50"
                    placeholder="Write about your Business"></textarea>
                <input class="form-control form-input promo-input" type="text" name="phone"
                    placeholder="Website (if available)">
                <label for="cancelledCheque" class="label-class">Cancelled Cheque Leaf Image</label>
                <input class="form-control form-input promo-input" type="file" name="cancelledCheque"
                    placeholder="UPLOAD">
                <label for="certificate" class="label-class">Certificate Image</label>
                <input class="form-control form-input promo-input" type="file" name="certificate" placeholder="UPLOAD">
                <input type="checkbox" class="form-check-input" id="privacyCheck" checked>
                <label for="privacyCheck" class="label-class pl-20 pt-15">I agree to the Terms of Service and Privacy
                    Policy</label>
            </div>
            <div class="proceed-button pt-30 pb-30">
                <button type="button" class="type-button btn btn-danger mt-20 font-size-24 font-extraBold">{{'Sign Up' | uppercase}}</button>
            </div>
        </div>
    </div>
</div>