<!-- <app-top-navbar></app-top-navbar> -->
<div class="xplore-userLogin">
    <div class="container login-page">
        <h2 class="header-title pb-30">Sign Up</h2>
        <div class="box-layout">
            <div class="content">
                <div class="top-header-content">
                    <p>Welcome to Exploreworld</p>
                    <p>Create your account.</p>
                </div>
                <img class="fb-login" src="../../../assets/images/facebook_login.png">

                <div class="login-form">
                    <p class="or-label">OR</p>
                    <form class="login-form">
                        <label for="email">EMAIL OR MOBILE NO</label>
                        <input class="form-control form-input" type="text" name="email">
                        <label for="name">NAME</label>
                        <input class="form-control form-input" type="text" name="name">
                        <label for="password">CREATE PASSWORD</label>
                        <input class="form-control form-input" type="text" name="password">
                        <label for="confirmPassword">RETYPE PASSWORD</label>
                        <input class="form-control form-input" type="text" name="confirmPassword">
                        <button type="button" class="btn btn-primary mt-20 mb-20">CREATE ACCOUNT</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="signup pt-60 pb-30">
            <button type="button" class="btn btn-primary">Already have an account? <p>Login</p></button>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->