//colors
$theme-main: #ffc111;
$theme-main-red: #f33927;
$theme-main-dark: #383838;
$theme-main-green: #139e2b;
$white: #ffffff;
$white-dark: #e2e2e2;
$black: #000000;
$dark-font: #222222;
$grey-dark: #2d2a25;
$font-color: #333333;
$grey-light: #dddddd;
$grey-light2:#a7a7a7;
$grey: #777777;
$grey2: #eeeeee;
$grey3: #c3c3c3;
$grey4: #444;
$grey5: #848484;
$grey6: #e5e5e5;
$grey7: #787878;
$grey8: #d9d9d9;
$grey9: #f3f3f3;
$grey10: #9c9c9c;
$grey11:#565555;
$baners-background: #f5f5f5;
$background: #fafafa;
$gray-lighter: #f6f6f6;
$input-background: #f7f7f7;
$button-disabled: #dacba1;
$header-background: #007bff;
$header-background-dark: #052d3c;
$footer-background: #007bff;
$active-red: #b50000;
$light-red: #e64141;
$star-color: orange;
$button-gradient-lighter : #007bff;
$button-gradient-regular : #007bff;
$button-gradient-darker : #007bff;


