@import "../../../assets/scss/functions";
@import "../../../assets/scss/variables";

.xplore-homepage {
    .search-section {
        min-height: 800px;
        @include BackgroundImageSet("../../../assets/images/homepage_header_1.jpg", no-repeat, cover);
        @include SetBackgroundShadow();
        .container {
            @include TextAlign(center);
            @include FlexLayout(column, unset, unset);
            p {
                @include SetFontFamily("Montserrat", 500);
                color: $white;
                &.section-title {
                    padding-top: 10%;
                }
            }
            .search-bar {
                @include BorderRadius(15px, 0px, 0px, 15px);
                color: $grey;
                &:focus {
                    border: none;
                    box-shadow: none;
                }
            }
            .autocomplete-searchBox {
                position: relative;
                .autocomplete-list {
                    background: $white;
                    display: none;
                    @include BorderRadius(0px, 0px, 15px, 15px);
                    text-align: left;
                    padding: 6px 12px 6px 30px;
                    position: absolute;
                    width: 100%;
                    max-height: 400px;
                    overflow-y: auto;
                    z-index: 999;
                    box-shadow: 0 0 10px;
                    ul > li {
                        color: $grey;
                        cursor: pointer;
                        &:hover {
                            color: $header-background;
                        }
                    }
                }
            }

            .search-button {
                background-color: $input-background;
                @include BorderRadius(0px, 0px, 15px, 0px);
                .btn:focus {
                    box-shadow: none;
                }
                i {
                    color: $grey;
                }
            }
            .tab-group > .nav {
                float: right;
                border-bottom: none;
                @include BorderRadius(20px, 20px, 0, 0);
                background-color: #000000;
                li {
                    width: 10rem;
                    height: 50px;
                    &:not(:last-child) {
                        .headings {
                            border-right: 1px solid $grey;
                        }
                    }
                    a {
                        color: $white;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    &:first-child {
                        @include BorderRadius(20px, 0, 0, 0);
                    }
                    &:last-child {
                        @include BorderRadius(0, 20px, 0, 0);
                    }
                    &.active {
                        background-color: $active-red;
                        .headings {
                            border-right: none;
                        }
                    }
                }
            }
            .bottom-misc,
            .misc-heading {
                @include FlexLayout(row, space-around, unset);
                flex-wrap: wrap;
                i {
                    color: $grey-light2;
                }
                p {
                    @include TextAlign(left);
                    padding-left: 10px;
                    color: $grey-light2;
                    font-weight: bold;
                }
            }
        }
    }
}

/***************************************
* Responsive Code
****************************************/
@media only screen and (max-width: 600px) {
    .container {
        .section-title {
            font-size: 30px !important;
            letter-spacing: 5px;
        }
        .section-subtitle {
            font-size: 20px !important;
            padding-top: 15px;
        }
        .form-input {
            padding-right: 85px;
            text-overflow: ellipsis;
            border-radius: 0 0 0 15px !important;
        }
        .tab-group > .nav {
            li {
                // width: 50% !important;
                &:last-child {
                    @include BorderRadius(0, 0px, 0, 0);
                }
            }
        }
    }
}
