<div class="cities-carousel container pt-50 pb-20">
    <div class="cities-heading">
        <h2 class="heading-title pt-15 font-size-28 pb-20">{{ 'More Kerala Attractions'}}</h2>
    </div>
    <div class="attractions-items pt-26">
        <div class="item">
            <p class="item-title">Tiruneelli Temple</p>
        </div>
        <div class="item">
            <p class="item-title">Pothamedu View Point</p>
        </div>
        <div class="item">
            <p class="item-title">Idukki Arch Dam</p>
        </div>
        <div class="item">
            <p class="item-title">Bamboo Forest</p>
        </div>
        <div class="item">
            <p class="item-title">Tata Tea Museum</p>
        </div>
        <div class="item">
            <p class="item-title">Top Station</p>
        </div>
        <div class="item">
            <p class="item-title">Forest Ride</p>
        </div>
        <div class="item">
            <p class="item-title">Zoo Trip</p>
        </div>
    </div>
</div>